﻿@model IEnumerable<DemoProject.Application.Services.Products.DTOs.ProductDTO>

@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-link" asp-controller="Products" asp-action="ProductDetails" asp-route-id="0">
            New
        </a>
    </div>
</div>

<script type="text/javascript" charset="UTF-8">

    async function translate(sourceText, targetLang, tagId) {
        var sourceLang = 'auto';
        var url = "https://translate.googleapis.com/translate_a/single?client=gtx&sl="
            + sourceLang + "&tl=" + targetLang + "&dt=t&q=" + encodeURI(sourceText);

        await fetch(url).then((response) => {
            return response.json();
        }).then((jsonResult) => {
            var translatedText = jsonResult[0][0][0];
            document.getElementById(tagId).innerHTML = translatedText;
        }).catch((error) => {
            console.error('Error:', error);
        });
    }
</script>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Description(En)</th>
            <th scope="col">Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr scope="row">
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Description</td>
                @{ 
                    string tdId = "td" + product.Id;
                }
                <td id="@tdId">
                  <script>
                      translate('@Html.Raw(product.Description)', 'en', '@tdId');
                    </script>
                </td>
                <td>
                    <a asp-controller="Products" asp-action="ProductDetails"
                       asp-route-id="@product.Id">Details</a> |
                    <a asp-controller="Products" asp-action="Delete"
                       asp-route-id="@product.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>