﻿@model DemoProject.Application.Services.Products.DTOs.ProductUpdateDTO

@{
    ViewData["Title"] = "Product Details";
    string actionName = (Model == null || Model.Id == 0) ? "Insert" : "Update";
}

<h1>Product Details</h1>

<div class="row">
    <div class="col-md-12">
        <form asp-controller="Products" asp-action="@actionName" method="post">
            <input asp-for="Id" type="hidden" />

            <div class="form-group">
                <label>Name: </label>
                <input class="form-control" asp-for="Name" />
            </div>
            
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" asp-for="Description"></textarea>
            </div>
            
            <button type="submit" class="btn btn-primary">Save</button>
            <a class="btn btn-danger" asp-controller="Products" asp-action="Index">
                Cancel
            </a>
        </form>
    </div>
</div>